/*Custom Layout*/
@media only screen and (min-width: 992px) and (max-width: 1199px){



}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {


	
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
    .banner{
        margin-top: 20px;
    }
    .cart-item-count{
        float: none;
        position: absolute;
        top: -81px;
        right: 35px;
    }
    .cart-item-count a span {
    	left: 50%;
    	margin-left: -11px;
     }
     .search-box{
        margin-bottom: 0px;
     }
    .menu-area{
        background: none;
        position: relative;
    }
    .button-wrapper{
    	background: #f1c40f;
    	height: 42px;
    }
     #menu{
        display: none;
        margin: 0 auto;
        padding: 5px 0px;
        width: 100%;
        background: #34495e;
        border-radius: 0 0 5px 5px;;
        position: absolute;
        top: 42px;
        left: 0;
        z-index: 999;
        
     }

    .menu-area ul.menu li{
        float: none;
        margin: 5px;
    }
    .menu-area ul.menu li a{
        font-weight: bold;
        padding: 5px 10px;
        font-size: 15px;
        text-align: center;

    }
     .menu-button{
    	display: block;
    }
    .float-information{
        display: none;
    }

    .search-box .input-group{
        padding: 0px 10px;
    }
    .single-product{
        padding: 0;
    }
    h4.card-title{
        font-size: 20px;
    }
    h4.price{
        padding: 9px 4px;
        border-radius: 3px;
        left: 16px;
        margin-top: -107px;
        font-size: 20px;

    }
    .dateinput_form{
        width: 85%;
        margin: 22px auto;
        padding: 35px 16px;
        border-radius: 8px;
    }
    a.btn-details{
        margin-left: -22px;
        margin-top: -25px;
        font-size: 25px;
        padding: 5px 10px;
        display: block;
    }
    .tblone th {
        font-size: 12px;
    }
    .btn-custom{
        padding: 7px 13px;
    }

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	


}
